:root {
  /* * Font Settings */
  /*Basics*/
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;

  /*Font Fidelity*/
  font-synthesis: none;

  /*Legibility*/
  text-rendering: optimizeLegibility;

  /*Smooth text*/
  -webkit-font-smoothing: antialiased; /*Chrome*/
  -moz-osx-font-smoothing: grayscale; /*Mozilla*/

  /* *Color Settings */
  /*Text*/
  --color-text: #e0e0e0;

  /*Background*/
  --color-base: #002254;
  --color-body: #3F829D;
  --color-shadow: #000000c5;
}

body {
  display: flex;
  place-content: center;
  place-items: center;
  margin: 0;

  color: var(--color-text);

  /* * Background */
  background-color: var(--color-base);
  box-shadow: inset 0 0 250px 10px var(--color-shadow);
  background-image: url(src/assets/wallpapers/flowers.png);
  

  /*Height*/
  min-height: 100vh;
  min-height: 100dvh; /*Modern fix*/

  /*Width*/
  min-width: 100%;
  overflow-x: hidden;
}

/* * Wall Trim */
body::before {
  /* ! Required for pseudo-elements */
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;

  /*Height*/
  min-height: 20%;
  min-height: 20dvh;

  /*Width*/
  min-width: 100%;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
